body {
    margin: 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
:root{
    --main-color-hover:#78abf1;
    --main-color-text:#fff;
    --padding-contnt:0px 0px 20px 30px;
}


.wrapper {
    overflow: hidden;

    background: url("../images/bg.jpg") center no-repeat;
    background-size: cover;

    width: 100%;
    height: 100vh;
    min-height: 600px;

    display: flex;
    flex-direction: column;

    position: relative;
}

[class*=__container] {
    margin: 0 auto;
    max-width: 1030px;
    width: 100%;
    padding: 0 15px;
}
[class*=information__]{
    font-size: 10px;
    line-height: 12px;
    font-weight: 300;
    color: var(--main-color-text);
}
[class*=__h2-item]{
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
    color: var(--main-color-text);

    opacity: 0.6;
}
[class*=__h1-item]{
    font-size: 27px;
    line-height: 35px;
    font-size: 500;
    font-weight: 30px;
    color: var(--main-color-text);

}
[class*=__block]{
    max-width: 560px;
    width: 100%;
}

.header {
    background-color: #2b7ded;
    padding: 10px 15px;
}

.header__content-block {
    display: flex;
    justify-content: space-between;
}

.header__text-logo {
    font-size: 24px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;

    color: var(--main-color-text);

    display: flex;
    justify-content: center;
    align-items: center;
}

.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__item {
    margin: 0 10px;

    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    color: var(--main-color-text);
    text-decoration: none;

    transition: color 0.3s linear;
}

.nav__item:hover {
    color: var(--main-color-hover);
}

.nav__item.item_active {

    position: relative;
}

.nav__item.item_active::after {
    content: "";
    width: 100%;
    height: 2px;

    background-color: var(--main-color-text);

    position: absolute;

    left: 0;
    bottom: -5px;
}


/*======================= main================== */
.main {
    flex: 1 1 auto;
}
/* ===============profile================= */
.profile {
    margin-top: 110px;
}


.profile__h2-item {
    
    margin-bottom: 16px;
}

.profile__h1-item {
    
    margin-bottom: 50px;
}

.h1-item__item {
    color: #2b7ded;
}
.text__item {
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    color:var(--main-color-text);

    margin-bottom: 50px;
}

.home_btn {
    padding: 15px 35px;
    background-color: #2b7ded;
    border-radius: 5px;

    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: var(--main-color-text);

    transition: color 0.3s linear;
}
.home_btn:hover{
    color: var(--main-color-hover);
}
/*====================== education=============== */


.education {
    margin-top: 60px;
}
.education__h1-item {
    margin-bottom: 30px;
}
.education__information {
    padding:var(--padding-contnt);
    
}
.information__h2-item {
    margin-bottom: 16px;
}

/* ====================work=================== */
.work {
    margin-top: 60px;
}

.work__h1-item {

    margin-bottom: 30px;
}
.work__information {
    padding:var(--padding-contnt);
    
}
.information__h2-item {
   

    margin-bottom: 16px;
}

/* ==================== skils ==================== */

.skils {
    margin-top: 60px;
}

.skils__h1-item {


    margin-bottom: 30px;
}
.skils__list-box {
    padding:var(--padding-contnt);
}
.skils__h2-item {


    margin-bottom: 16px;
}
/* ====================contact======================== */
.contacts {
    margin-top: 60px;
}


.contacts__h1-item {

    margin-bottom: 30px;
}
.contacts__box {
    padding:var(--padding-contnt);
}
.contact-info__h2-item {
    margin-bottom: 5px;
}
.contact-info__text-info{
    display: flex; 
    justify-content: start;
    align-items: center;

    text-decoration: none;
    color:var(--main-color-text);

    transition: color 0.3s linear;
}
.contact-info__text-info:hover{
    color: var(--main-color-hover);
}
.material-symbols-outlined {
    color: rgba(255, 255, 255, 0.646);
    margin-right: 10px;
}
.contact-info__img{
    margin-right: 10px;
}

/* ======================footer=================== */
.footer__container{
    position:relative;
}
.footer__line{
    width: 200px;
    height: 2px;

    background-color: var(--main-color-text);
    
    
    position: absolute;
    left:10px;
    bottom: 30px;
}
.footer__copyright{
    font-size: 15px;
    font-weight: 300;
    color: var(--main-color-text);
}


.wrapper__image-avatar{
    margin-bottom:-6.5px ;
    position: absolute;
    bottom: 0px;
    right: 0;
}

@media(max-width:990px){
    [class*=__container] {
        max-width: 850px;
    }
    .wrapper__image-avatar{
        right: -120px;
    }
}
@media (max-width:880px) {
    .wrapper__image-avatar{
        display: none;
    }
    .main,.footer__container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer__line{
width: 100%;
        
    }
}