body {
    margin: 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 24px;
    
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


[class*=information__]{
    font-size: 10px;
    line-height: 12px;
    font-weight: 300;
    color: #fff;
}

.wrapper {
    overflow: hidden;

    background: url("../../images/bg.jpg") center no-repeat;
    background-size: cover;

    width: 100%;
    height: 100vh;
    min-height: 50px;

    display: flex;
    flex-direction: column;

    position: relative;
}

[class*=__container] {
    margin: 0 auto;
    max-width: 1030px;
    width: 100%;
    padding: 0 15px;
}



.header {
    background-color: #2b7ded;
    padding: 10px 15px;
}

.header__content-block {
    display: flex;
    justify-content: space-between;
}

.header__text-logo {
    font-size: 24px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;

    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__item {
    margin: 0 10px;

    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;

    transition: color 0.3s linear;
}

.nav__item:hover {
    color: #78abf1;
}

.nav__item.item_active {

    position: relative;
}

.nav__item.item_active::after {
    content: "";
    width: 100%;
    height: 2px;

    background-color: #fff;

    position: absolute;

    left: 0;
    bottom: -5px;
}


/*======================= main================== */
.main {
    flex: 1 1 auto;
}


.work {
    margin-top: 60px;
}
.work__block {
    max-width: 560px;
    widows: 100%;
}
.work__h1-item {
    font-size: 27px;
    line-height: 35px;
    font-size: 500;
    font-weight: 30px;
    color: #fff;

    margin-bottom: 30px;
}
.work__information {
    padding:0px 0px 20px 30px;
    
}
.information__h2-item {
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
    color: #fff;

    opacity: 0.6;

    margin-bottom: 16px;
}
/* ======================footer=================== */

.footer__container{
    position:relative;
}
.footer__line{
    width: 200px;
    height: 2px;

    background-color: #fff;
    
    
    position: absolute;
    left:10px;
    bottom: 30px;
}
.footer__copyright{
    font-size: 15px;
    font-weight: 300;
    color: #fff;
}
.wrapper__image-avatar{
 
    position: absolute;
    bottom: 0px;
    right: 0;
}
